.range_box {
    position: relative;
    padding: 0;
    width: 465px;
    height: 20px;
}
.slider_box {
    position: absolute;
    left: 97px;
    top: 0;
    display: block;
    width: 271px;
    height: 20px;
}
.slider{
    position: absolute;
    width: 6px; /*totaal 8px*/
    height: 18px; /*totaal 20px*/
    border: solid 1px black;
    background-color: white;
    cursor: pointer;
}
.track {
    position: absolute;
    border: solid 1px black;
    width: 269px; /* totaal 271px */
    height: 4px; /* totaal 6px */
    margin: 7px 0 0 0;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    //overflow: hidden;
}
input {
    position: absolute;
    top: 0px;
    line-height: 18px;
    text-align: center;
    display: block;
    height: 18px;
    width: 40px;
    border: 1px solid black;
    padding: 0 3px;
    margin: 0;

}
.button {
    cursor: pointer;
    position: absolute;
    top: 0px;
    line-height: 18px;
    display: block;
    height: 18px;
    width: 18px;
    text-align: center;
    font-size: 9px;
    padding: 0;
    border: 1px solid black;
}